@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face{
    font-family: "iranSans";
    src: url("./assets/fonts/IRANSansXMedium.ttf") format("truetype");
}
@layer base{
    html{
        font-family:iranSans;
        background-color: #a8b1eb;
        height: 100svh;
        width: 100svw;

    }}
    @layer utilities {
/* animations _______ */

@keyframes wobble {
    0% {
        transform:translate(0);
            }
            20% {
                transform:translate(5px,-5px);
            }
            40% {
                transform:translate(5px,5px);
            }
            60% {
                transform:translate(-5px,5px);
            }
            80% {
                transform:translate(-5px,-5px);
            }
            100% {
                transform:translate(0);
            }}
            .wobble {
            animation: wobble 4s ease-in-out infinite ;
        }
        .wobble_with_delay{
            animation: wobble 6s ease-in-out infinite forwards;
            animation-delay: 0.5s;
        }
        @keyframes slide-in-bottom {
			
            0% {
                transform:translateY(-100vh)rotate(0deg);
            }
            100% {
                transform:translateY(100vh)rotate(360deg);
            }
        }
        .floated_up_down{
        animation: slide-in-bottom 8s linear 0s infinite normal forwards;
            }
        .floated_down_up{
        animation: slide-in-bottom 8s linear 0s infinite reverse forwards;
            }
        .floated_down_up_delay{
        animation: slide-in-bottom 8s linear 1.5s infinite reverse forwards;
            }
/* ________animations _______ */


/* Custom classes */
        .Nav_menu{
            position: fixed ;
            display:flex;
            flex-direction: column;
             justify-content: end;
            width:100%;
            height: 100%;
            padding:5% 0 5% 0 ;
           bottom: 0;
             z-index:100;
             background: linear-gradient(90deg, rgba(168, 177, 235, 0) 0%, rgba(249, 127, 188, 0.097) 20%, rgba(249, 127, 188, 0.268) 50%);
        }
        .deactived_menu{
            transform:translateX(100%);
            visibility:hidden;
            transition: transform 0.5s ,visibility 0.5s;
        }
        .actived_menu{
            transform:translateX(0);
            visibility:visible;
            transition: transform 0s ,visibility 0.5s;
        }
        .nav_childs_container{
            position: relative;
            display:flex;
            align-items: center;
            justify-content: start;
            height: 20%;
            animation: wobble 6s ease-in-out infinite forwards;
            animation-delay: 1s;
            cursor:pointer;
        }
        .text_shadow{
            text-shadow: 2px -2px 7px #fff, -1px 1px 4px #000000 ;
        }
        .images_shadow{
            filter: drop-shadow(-5px 5px 3px #2b2b2b)drop-shadow(0px -2px 7px #ffffff96);
        }
/*______ Custom classes________ */
        

}